<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ information?.Genre }}</ion-title>

  </ion-toolbar>

</ion-header>


<ion-content padding>

    <ion-card *ngIf="information">
      
      <ion-card-header>
       
        <ion-card-title>
          {{information.Title}}
        </ion-card-title>
        
        <ion-card-subtitle>
          {{information.Year}}
        </ion-card-subtitle>
      
      </ion-card-header>


      <ion-card-content text-center>

        <img [src]="information.Poster" class="info-img">
        <div>{{information.Plot}}</div>
      
        <ion-item lines="none">
          <ion-icon name="star-half" slot="start"></ion-icon>
          <ion-label>{{information.imdbRating}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="megaphone-outline" slot="start"></ion-icon>
          <ion-label text-wrap>{{information.Director}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label text-wrap>{{information.Actors}}</ion-label>
        </ion-item>

      </ion-card-content>
   
    </ion-card>


</ion-content>