<!-- MATERIAL USED: https://ionicacademy.com/ionic-4-app-api-calls/ -->
<!-- Joni Rajaniemi TIK18sp 08.03.2020 -->

<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Movie Search Machine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select a search category</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>"
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>
      
      <ion-label text-wrap>
        <h2>{{item.Title}}</h2>
        <h4>{{item.Year}}</h4>
      </ion-label>

      <ion-icon slot="end" *ngIf="item.Type =='movie'" name="film-outline"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type =='series'" name="tv-outline"></ion-icon>
      <ion-icon slot="end" *ngIf="item.Type =='game'" name="game-controller-outline"></ion-icon>


    </ion-item>
  </ion-list>

</ion-content>
